# Zade Alfalah Astr 3800 HW #9
# Question 1

In [1]:
import numpy as np
import pandas as pd

In [62]:
d = {'Values' : [46, 48, 44, 38, 45, 47, 58, 44, 45, 43]}
d1 = pd.DataFrame(data = d)
d1.head()

   Values
0      46
1      48
2      44
3      38
4      45

In [3]:
a = (46, 48, 44, 38, 45, 47, 58, 44, 45, 43)
a = np.asarray(a)

Z score is signed fraction number of std by which a value is away from the mean value.  
z = (x-u)/sigma

In [17]:
#For numpy arrays
def zscore(array):
    array = np.asarray(array) #turns whatever into an array
    m = array.mean() #finds the mean of the array
    s = array.std() #finds the std of the array
    bucket = [] #empty list to toss stuff into
    for element in array: #loop over all of my values
        num = element - m
        bucket.append(num/s) #find the Z score and put it into my bucket
    return np.asarray(bucket) #give my filled list as an array

In [72]:
#nicer with pandas, does same as above but keeps it in a table
def dfzscore(df):
    m = df.mean()
    s = df.std()
    bucket = []
    for i in np.arange(df.shape[0]):
        num = df.Values[i] - m
        z = num/s
        bucket.append(z)
    bucket = np.asarray(bucket)
    df['zscore'] = bucket
    return df

In [18]:
zlist = zscore(a) #give variable to our Z scores list
zlist = zlist[(zlist >1.5)|(zlist <-1.5)]#select for Z > abs(1.5sigma)
zlist

array([-1.62078469,  2.53507349])

In [77]:
zscores = dfzscore(d1) #give variable to our zscores df
zscores[(zscores > 1.5) | (zscores <-1.5)] #select for Z > abs(1.5sigma)

   Values    zscore
0      46       NaN
1      48       NaN
2      44       NaN
3      38 -1.537611
4      45       NaN
5      47       NaN
6      58  2.404982
7      44       NaN
8      45       NaN
9      43       NaN

Assuming that we want our cutoff to be at 1.5sigma we must remove both 38 and 58 as outliers from our data. Can change cutoff later.

In [82]:
zscores.drop([3,6]) #with dropped z>abs(1.5sigma)

   Values    zscore
0      46  0.039426
1      48  0.433685
2      44 -0.354833
4      45 -0.157704
5      47  0.236556
7      44 -0.354833
8      45 -0.157704
9      43 -0.551963

In [85]:
#now we can do analysis
print(f"The mean value for our data, excluding outliers, is {zscores.Values.mean()}, with a standard deviation of {zscores.Values.std():.1f}")

The mean value for our data, excluding outliers, is 45.8, with a standard deviation of 5.1

# Question 2

Weighted stuff pgs 173-176 of taylor

In [230]:
data2 = {"Means" : [14.6, 10.4, 16.3, 14.1, 19.9], "Uncertainties" : [0.8, 2.2, 1.7, 1.1, 6.3]}
d2 = pd.DataFrame(data = data2)
d2.head()

   Means  Uncertainties
0   14.6            0.8
1   10.4            2.2
2   16.3            1.7
3   14.1            1.1
4   19.9            6.3

In [231]:
pd.options.mode.chained_assignment = None  # default='warn'
bucket = []
for uncertainties in d2.Uncertainties:
    bucket.append(1/uncertainties**2) #get weights into empty list
bucket = pd.DataFrame(data = bucket) #make weights into a dataframe
d2['Weights'] = bucket
d2

   Means  Uncertainties   Weights
0   14.6            0.8  1.562500
1   10.4            2.2  0.206612
2   16.3            1.7  0.346021
3   14.1            1.1  0.826446
4   19.9            6.3  0.025195

In [235]:
bucket = []
for index, row in d2.iterrows():
    num1 = (row["Means"] * row["Weights"])
    bucket.append(num1)
bucket = np.asarray(bucket)
numerator = bucket.sum()
print(numerator) #this is our wa*xa+wb*xb+...+wn*xn

bucket2 = []
for index, row in d2.iterrows():
    w = (row['Weights'])
    bucket2.append(w)
bucket2 = np.asarray(bucket2)
denominator = bucket2.sum()
print(denominator) #this is our wa + wb +... +wn

x_wav = numerator/denominator
print(x_wav) #this is our best estimate for X, the true value of x.

sigma_wav = 1/np.sqrt(denominator)
print(sigma_wav) #this is our uncertainty in x_wav

print(f"For all our measurements our best estimate for the true value is {x_wav:.2f} +- {sigma_wav:.2f}")

42.75567704034746
2.9667738757758455
14.411505167095472
0.5805742595140725
For all our measurements our best estimate for the true value is 14.41 +- 0.58

In [148]:
#Look at just first 4 values
d3 = d2[0:4] #to make it all more compact
d3

   Means  Uncertainties
0   14.6            0.8
1   10.4            2.2
2   16.3            1.7
3   14.1            1.1

In Taylor, X is unknown true value of x. Weight_n = 1/(sigma_n)^2

x = x_a +- sigma_a 

We say (Best estimate for X) = x_wav = ((Weight_a * x_a) + (Weight_b * x_b) +...)/(Weight_a + Weight_b +....)

sigma_wav = 1/sqrt(sum(weights))

In [224]:
pd.options.mode.chained_assignment = None  # default='warn'
bucket = []
for uncertainties in d3.Uncertainties:
    bucket.append(1/uncertainties**2) #get weights into empty list
bucket = pd.DataFrame(data = bucket) #make weights into a dataframe
d3['Weights'] = bucket
d3

   Means  Uncertainties   Weights
0   14.6            0.8  1.562500
1   10.4            2.2  0.206612
2   16.3            1.7  0.346021
3   14.1            1.1  0.826446

In [236]:
bucket = []
for index, row in d3.iterrows():
    num1 = (row["Means"] * row["Weights"])
    bucket.append(num1)
bucket = np.asarray(bucket)
numerator2 = bucket.sum()
print(numerator2) #this is our wa*xa+wb*xb+...+wn*xn

bucket2 = []
for index, row in d3.iterrows():
    w = (row['Weights'])
    bucket2.append(w)
bucket2 = np.asarray(bucket2)
denominator2 = bucket2.sum()
print(denominator2) #this is our wa + wb +... +wn

x_wav2 = numerator2/denominator2
print(x_wav2) #this is our best estimate for X, the true value of x.

sigma_wav2 = 1/np.sqrt(denominator2)
print(sigma_wav2) #this is our uncertainty in x_wav

print(f"For the first four measurements our best estimate for the true value is {x_wav:.2f} +- {sigma_wav:.2f}")

42.25429130086648
2.941578612485344
14.364495010101315
0.5830553307808733
For the first four measurements our best estimate for the true value is 14.41 +- 0.58

In [238]:
print(numerator, numerator2)
print(denominator, denominator2)
print(x_wav, x_wav2)
print(sigma_wav, sigma_wav2)

42.75567704034746 42.25429130086648
2.9667738757758455 2.941578612485344
14.411505167095472 14.364495010101315
0.5805742595140725 0.5830553307808733

In [241]:
print(d2['Weights'].iloc[-1])

0.025195263290501386

We can see above that the difference between including and removing the final measurement of 19.9+-6.3 W/m2 has very little contribution to our x_wav and sigma_wav values.  This is due to the fact that the final measurement has a tiny weight of about 0.025.  This small weight comes from the fact that the uncertainty was large, got squared, and was put into the denominator.

# Not A Homework Question
Below are for curiosity's sake, if we had used a non-weighted average

In [126]:
bucket1 = []
total_avg = d2.Means.sum()/(int(np.asarray(d2.Means.shape)))
for uncertainties in d2.Uncertainties:
    bucket1.append(uncertainties**2)
bucket1 = pd.DataFrame(data = bucket1)
total_error = np.sqrt(bucket1.sum())
total_error = float(total_error)
print(f"The average of all of our values is {total_avg:.2f} plus or minus {total_error:.2f}")

The average of all of our values is 15.06 plus or minus 7.02

In [125]:
bucket1 = []
total_avg = d2[0:4].Means.sum()/(int(np.asarray(d2[0:4].Means.shape)))
for uncertainties in d2[0:4].Uncertainties:
    bucket1.append(uncertainties**2)
bucket1 = pd.DataFrame(data = bucket1)
total_error = np.sqrt(bucket1.sum())
total_error = float(total_error)
print(f"The average of all of our values is {total_avg:.2f} plus or minus {total_error:.2f}")

The average of all of our values is 13.85 plus or minus 3.10