In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
data1 = pd.read_csv("data1b.txt", header = None)
data1.head()

         0
0  21.2274
1  20.9796
2  21.2007
3  21.2492
4  21.2372

In [31]:
data2 = pd.read_csv("data2b.txt", header = None)
data2.head()

         0
0  21.2165
1  21.1698
2  21.3286
3  21.2266
4  21.3052

In [32]:
mean1 = data1.mean()
mean2 = data2.mean()
std1 = data1.std()
std2 = data2.std()
print(mean1)
print(mean2)
print(std1)
print(std2)

0    21.14332
dtype: float64
0    21.272105
dtype: float64
0    0.090348
dtype: float64
0    0.093072
dtype: float64

In [38]:
y = 21.14332- 21.272105

In [36]:
f = np.sqrt(std2**2+std2**2)

In [37]:
f

0    0.131624
dtype: float64

In [39]:
y + f

0    0.002839
dtype: float64

In [40]:
y - f

0   -0.260409
dtype: float64

In [41]:
np.sqrt((1/20)**2+(1/10)**2)

0.1118033988749895